.ant-checkbox-group-item .ant-checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding10 {
    padding: 10px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #B49328;
    border-color: #B49328;
}

.ant-divider-inner-text {
    font-size: 13px;
    color: grey;
}

.success-text {
    text-align: center;
    color: grey;
    padding: 30px;
}

.form-container {
    padding: 10px;
    height: 100vh;
    overflow-y: scroll;
}

.tag-container {
    padding: 10px;
    width: 100%;
}

.tag-container > .ant-tag {
    width: 100%;
    text-align: center;
}
.controls {
    position: fixed;
    width: 100%;
    left: 1px;
    padding: 10px;
    bottom: 0;
    height: 108px;
}