.maxWidth {
    width: 100%
}

.maxHeight {
    height: 100%
}

.listTag {
    font-size: 13px
}

.spanSize {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonMargin {
    margin: 2px
}