.admin-box { 
    width: 150px;
    /* height: 150px; */
    margin: 10px;
}

.admin-box-icon {
    font-size: 50px;
    color: #B49328;
}

.admin-icon-container { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-box-button {
    width: 100%;
    width: 150px;
    height: auto;
    padding: 10px;
}

.ant-layout-sider-children {
    background: #ffffff;
    border-right: 0.1px solid #E7E7E7;
}
.ant-layout-sider-trigger {
    background: #ffffff;
    color: #B49328;
    border-right: 0.1px solid #E7E7E7;
}

.ant-menu-item-selected {
    color: #B49328;
}

.ant-menu-item:hover, .ant-menu-submenu:hover {
    color: #ffffff;
    background: #B49328;
}

.ant-menu-submenu-title:hover {
 color: #ffffff;
}

.ant-menu-submenu-arrow:hover {
    background: #ffffff
}

.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
    border-right: 2px solid #B49328;
}

.ant-layout-sider-children {
    margin: 0;
    padding: 0;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
    margin-top: 0;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: rgb(253, 232, 162)
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
    background: linear-gradient(to right, #E7E7E7, #E7E7E7); 
}

.ant-menu-inline-collapsed {
    width: 66px;
}

.ant-layout-sider .ant-layout-sider-dark .ant-layout-sider-collapsed .ant-layout-sider-has-trigger {
    flex: 0 0 66px;
    max-width: 66px;
    width: 66px;
    min-width: 66px;
}

.ant-layout-sider-trigger {
    width: 66px;
}

.ant-drawer-body {
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 0;
}

.ant-drawer-header {
    background: #B49328;
    text-align: center;
    font-family: serif;
    border-radius: 0;
}

.ant-drawer-title {
    color: #fff;
    font-size: 19px;
 }
 
 /* Stock Chart */
 #stock-bar .recharts-default-legend {
     display: flex;
     justify-content: center;
     left: 40;
     position: absolute;
     width: 100%;
 }

 /* Edit Form */
 .editRows .ant-row {
     padding: 5px;
 }