.div-avatar {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.stocktaker-box {
    width: 170px;
    height: auto;
    margin: 10px;
}

.ant-card-meta-title {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    word-break: keep-all;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-card-bordered {
    border: 1px solid #cecece;
}

.ant-card-body {
   border-top: 1px solid #cecece;
   padding: 0;
}

.ant-card-meta-title {
    color: #B49328;
}