.header {
    box-shadow: 0.5px 0.5px 0.5px 0.5px #B49328;
    padding: 5px;
    margin-bottom: 8.5px;
    background: #ffffff;
}
.app-heading {
    text-align: center;
    font-size: 18px;
    font-family: serif;
    color: #B49328;        
}

.ant-message {
    bottom: 150px;
    top: 400px;
}

#menu-button {
    width: 40px;
    margin-left: 7px;
 }