.main-view {
    background: #ffffff;
    margin-top: -7px;
}


.component-containers {
    display: grid;
    align-items: center;
    padding: 12px;
    overflow: hidden;
    width: 100%;
}

/* .ant-form .ant-form-horizontal {
    width: 367px;
} */

.editable-container {
    width: 100%
}

.ant-form-item {
    width: 255px;
}

ul:hover {
    cursor: pointer;
}   

.ant-select-selection--single {
    border: 1px solid #B49328;
}

.ant-select-focused, .ant-select-open, .ant-select-selection:focus, .ant-select-selection--single:hover {
    border-color: #B49328;
    outline: 0;
    border: 1px solid #B49328
}

.headButtons {
    border-color: #B49328;
    background: #B49328;
    color: #fff;
    padding: 5px;
    margin: 3px;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    border-color: #B49328;
    color: #B49328
}

.process-init {
    height: 225px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.initButton {
    width: 100%;
}

.ant-modal-confirm-btns .ant-btn-primary {
    color: #fff;
    background: #B49328;
    border-color: #B49328;
}

.ant-modal-confirm-btns .ant-btn-primary:hover {
    background: #fff;
    border-color: #B49328;
    color: #B49328;
}

.ant-form-item-label {
    width: 71px;
    height: 33px;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.detail-card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 133px;
}

.ant-card-head {
    text-align: center;
    font-family: serif;
    font-size: 20px;
    color: #B49328;
    font-weight: bold;
    background: rgb(35, 35, 35)
}

.ant-card-body p {
    font-size: 12px;
    margin: 0;
}

.ant-card-body .ant-divider-horizontal {
    margin: 11px 0;
}

.ant-card-body {
    text-align: center;
    font-family: serif;
    font-size: 20px;
    color: #B49328;
    font-weight: bold;
}

.ant-radio-button-wrapper-checked:hover {
    border-color: #B49328;
    box-shadow: -1px 0 0 0 #40a9ff;
    color: #B49328;
}

.ant-radio-button-wrapper-checked:first-child {
    border-color: #B49328;
    box-shadow: none !important;
}

.ant-radio-button-wrapper:first-child {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #d9d9d9;
}

.ant-radio-button-wrapper-checked {
    background: #fff;
    border-color: #B49328;
    color: #B49328;
    box-shadow: -1px 0 0 0 #B49328;
    z-index: 1;
}

.ant-radio-button-wrapper-checked::before {
    background-color: #B49328 !important;
    opacity: 0.1;
}

.ant-radio-button-wrapper::selection {
    background: #B49328;
    color: #fff;
}

/* submit button */
.submit-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.submitStockButton {
    width: 100%;
    background: #B49328; 
    color: #fff
}
/* STOCK TAKER LIST VIEW STYLE */
.ant-avatar > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
};

.ant-list-item-meta-content > .ant-list-item-meta-title {
    color: #B49328;
};

@media (min-width: 481px) and (max-width: 767px) {
  
    /* //CSS */
    /* .editable-container {
        width: 73%
    } */
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* //CSS */
    
  }