.main-layout {
    display: grid;
    justify-content: center;
    background: #ffffff;
    margin-top: -7px;
    padding: 35px;
}

.login-heading {
    text-align: center;
    font-size: 25px;
    color: #B49328;
    font-family: serif;
}

.width-100 {
    width: 100%;
}

.input-holder {
    padding: 5px;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: #B49328;
    border-right-width: 1px !important;
}

.ant-input-affix-wrapper::selection .ant-input:not(.ant-input-disabled) {
    background: #B49328;
    color: #ffffff;
}

.ant-input:focus {
    border-color: #B49328;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(163, 152, 0, 0.2);
    border-right-width: 1px !important;
}

.login-button  {
    border-color: #B49328;
    background: #B49328;
    color: #ffffff;
    font-family: serif;
}
.login-button:hover {
    border-color: #ffffff;
    background:#B49328
}

.login-button::selection {
    border-color: #ffffff;
    background:#B49328   
} 

.login-button:focus {
    border-color: #ffffff;
    background:#B49328   
}
.login-button::selection::before {
    border-color: #ffffff;
    background:#B49328   
}

.login-button::selection::after {
    border-color: #ffffff;
    background:#B49328   
}

.login-button:active {
    border-color: #ffffff;
    background:#B49328
}
